/* ---- LAYOUT ---- */
/* ---- NAVIGATION ---- */
/* ---- TYPOGRAPHY ---- */
/* ---- MISC ---- */






/* ---- NAVIGATION ---- */
ul{background-color:
    margin:0px;
    list-style-type: none;
    padding:5px 0px 5px 0px }

ul li{
    display: inline;
    padding: 5px 0px 5px 0px;

}
ul li a:link, ul li a:visited {
    color: ;
    border-bottom: ;
    font-weight: ; bold;
}

ul li. selected{
    background-color:
}
/* ---- NAVIGATION ---- */