/* ---- LAYOUT ---- */
/* ---- NAVIGATION ---- */
/* ---- TYPOGRAPHY ---- */
/* ---- MISC ---- */

/* ---- BACKGROUND ---- */

body{
    width: 100%;
    max-width: 960px;
    background-color: #ccdfb5;
    margin: 0 auto;
}




/* ---- NAVIGATION ---- */
 nav ul li {background-color:rosybrown;
    margin:0px;
    list-style-type: none;
    padding:5px 0px 5px 0px }

nav ul li{
    display: inline;
    padding: 5px 0px 5px 0px;
    width: 30%;

}
nav ul li a{
    display: inline;
    width: 100%;
}
nav ul li a:link, ul li a:visited {
    color: aquamarine;
    border-bottom: ;
    font-weight: ; bold;
}

nav ul li. selected{
    background-color:yellowgreen;
}
/* ---- NAVIGATION ---- */

/* ---- images ---- */

img.large {
    width: 500px;
    height: 500px;
}

img.medium{
    width: 250px;
    height: 250px;
}
img.small{
    width 100px;
    height: }

/*--border for image*/
.border{
    background: #;
    float: left;
    width: 310px;
    height:280px;
}

.border2{
    background-color: #cccccc;
    float: left;
    width:300px;

}
.main {
    float:left;
    background:url (villarome.jpg);
    width:290px;
    height: 260px;
    margin: 5px;
}
.video1{
    background-color: #cccccc;
    float: left;
    width:570px;
    height: 320px;
}
.video2{
    background-color: #cccccc;
    float: left;
    width:570px;
    height: 320px;
}


}
/* ---- images ---- */

/